{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% block form%}
    {% endblock %}
    {% for auction in auctions %}
            <a href="{% url 'listing' auction_id=auction.id %}">    
                <div class="auction" style="border: 3px solid black; margin: 10px;">
                    <img src="{{ auction.image }}" alt="auction image" width="200">
                    <ul>
                        <li>
                            <h5>{{auction.name}}</h5>
                        </li>
                        <li>
                            Price: {{auction.bid}}€
                        </li>
                        <li>
                            {{auction.date}}
                        </li>
                    </ul>
                </div>
            </a>
        {% empty %}
            <h5>No items</h5>
    {% endfor %}
    
{% endblock %}