{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Listing: {{auction.name}}</h2>
    <img src="{{auction.image}}" alt="Auction image" width="300">
    {{auction.description}}
    <h4>{{auction.bid}}€</h2>
    
    {% if user.is_authenticated %}
        <form action="{% url 'listing' auction_id=auction.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" name="watchlist" value="Add to watchlist">
        </form>
    {% endif %}

    <h5>Details</h5>
    <ul>
        <li>Listed by: {{auction.name}} </li>
        <li>Category: {{auction.category}} </li>
    </ul>
{% endblock %}