{% extends "auctions/layout.html" %}

{% block body %}
    <h3>Listing: {{auction.name}}</h2>
    <img src="{{auction.image}}" alt="Auction image" width="300">
    {{auction.description}}
    <h4>{{auction.bid}}€</h2>
    
        {% if display %}
            <a href="{% url 'watchlist' auction_id=auction.id %}">
                Add to watchlist
            </a>
        {% else %}
            <a href="{% url 'watchlist' auction_id=auction.id %}">
                Remove from watchlist
            </a>
        {% endif %}
        
        {{bid}}
        
    <h5>Details</h5>
    <ul>
        <li>Listed by: {{auction.name}} </li>
        <li>Category: {{auction.category}} <h5>Mirar de arreglar esto</h5> </li> 
    </ul>
{% endblock %}